
 .open {
	 position: fixed;
	 width: 150px;
	 padding: 20px 20px 17px;
	 color: #fff;
	 cursor: pointer;
	 right: 0;
	 bottom: 0;
	 font-family: arial, sans-serfi;
	 text-transform: uppercase;
	 background: #000;
	 text-align: center;
	 line-height: 1;
}
 .curtain {
	 position: absolute;
	 top: -10%;
	 height: 120%;
	 width: 50%;
	 color: white;
	 font-size: 100px;
	 -webkit-transition: all 3s ease-out 0s;
	 -ms-transition: all 3s ease-out 0s;
	 transition: all 3s ease-out 0s;
	 -webkit-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
	 transform: rotate(0deg);
}
 .curtain.-left {
	 left: 0px;
	 background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -moz-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -o-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -webkit-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: linear-gradient(to left, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), linear-gradient(to left, #7630a1, #3f1958, #7630a1);
	 background-size: 17% 17%, 14% 14%;
}
 .curtain.-right {
	 right: 0px;
	 background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -moz-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -o-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -webkit-linear-gradient(right, #7630a1, #3f1958, #7630a1);
	 background: linear-gradient(to left, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), linear-gradient(to left, #7630a1, #3f1958, #7630a1);
	 background-size: 17% 17%, 14% 14%;
}
 .open-curtains .curtain.-left {
	 left: -16%;
	 width: 10%;
	 -webkit-transform: rotate(7deg);
	 -ms-transform: rotate(7deg);
	 transform: rotate(7deg);
}
 .open-curtains .curtain.-right {
	 right: -16%;
	 width: 10%;
	 -webkit-transform: rotate(-7deg);
	 -ms-transform: rotate(-7deg);
	 transform: rotate(-7deg);
}







<div class="curtain -left">SSSS</div>
<div class="curtain -right">SSSSAQQQ</div>

<div class="open">Toggle curtains</div>



$(document).ready(function() {
 
  
  $(".open").click(function () {
    if ($('body').hasClass('open-curtains')) {
      $('body').removeClass('open-curtains');
    } else {
      $('body').addClass('open-curtains');
    }
  });
 
});
 